In [1]:
!pip install snowflake-connector-python

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Requirement already satisfied: snowflake-connector-python in /opt/conda/lib/python3.10/site-packages (2.9.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (2.1.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (1.15.1)
Requirement already satisfied: requests<3.0.0 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (2.28.1)
Requirement already satisfied: oscrypto<2.0.0 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (1.3.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: pytz in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (2022.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (2022.6.15)
Requirement already satisfied: typing-extensions<5,>=4.3 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (4.3.0)
Requirement already satisfied: filelock<4,>=3.5 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (3.9.0)
Requirement already satisfied: pyOpenSSL<23.0.0,>=16.2.0 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (22.0.0)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (3.16.0)
Requirement already satisfied: setuptools>34.0.0 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (65.3.0)
Requirement already satisfied: cryptography<41.0.0,>=3.1.0 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (37.0.4)
Requirement already satisfied: pyjwt<3.0.0 in /opt/conda/lib/python3.10/site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.10/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)

In [2]:
import getpass
pwd = getpass.getpass('Please enter your password:')

Please enter your password: ········

In [3]:
#Create a connection to Snowflake
import snowflake.connector
conn = snowflake.connector.connect(user='EC21023',
                 #password=str(pwd),
                 password=pwd,                
                 account='jm27512.us-east4.gcp', #Account name is embedded in the URL. First the id and then the cloud.
                 WAREHOUSE='COMPUTE_WH',
                 #DATABASE='DEMO_DB',
                 #SCHEMA='PUBLIC',
                 #STAGE='data_stage'
                                 )

In [4]:
'''
#Create a variable called SQL and specify a query that it will store
sql1 = "USE WAREHOUSE COMPUTE_WH"
sql2 = "SELECT * FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA LIMIT 10000"
# sql2 = "SELECT 'State Name', 'Indicator Name', 'Date', 'Value' FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA WHERE 'State Name' IN ('Maharashtra', 'Delhi', 'Punjab', 'Gujarat', 'Karnataka') LIMIT 10000"
# sql2 = "SELECT * FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA WHERE 'State Name' IN ('Maharashtra', 'Delhi', 'Punjab', 'Gujarat', 'Karnataka') LIMIT 10000"
# sql2 = "SELECT * FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA WHERE 'State RegionId' = 'IN-MH' LIMIT 10000"



#Execute the query using a Python connector
res1 = conn.cursor().execute(sql1).fetchall()
res2 = conn.cursor().execute(sql2).fetchall()

#Run that same query but this time use the read_sql method in the Pandas dataframe object
snowdf = pd.read_sql(sql2, conn)
snowdf
'''

'\n#Create a variable called SQL and specify a query that it will store\nsql1 = "USE WAREHOUSE COMPUTE_WH"\nsql2 = "SELECT * FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA LIMIT 10000"\n# sql2 = "SELECT \'State Name\', \'Indicator Name\', \'Date\', \'Value\' FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA WHERE \'State Name\' IN (\'Maharashtra\', \'Delhi\', \'Punjab\', \'Gujarat\', \'Karnataka\') LIMIT 10000"\n# sql2 = "SELECT * FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA WHERE \'State Name\' IN (\'Maharashtra\', \'Delhi\', \'Punjab\', \'Gujarat\', \'Karnataka\') LIMIT 10000"\n# sql2 = "SELECT * FROM COVID19_DATA_ATLAS.COVID19.COVID19INDIA WHERE \'State RegionId\' = \'IN-MH\' LIMIT 10000"\n\n\n\n#Execute the query using a Python connector\nres1 = conn.cursor().execute(sql1).fetchall()\nres2 = conn.cursor().execute(sql2).fetchall()\n\n#Run that same query but this time use the read_sql method in the Pandas dataframe object\nsnowdf = pd.read_sql(sql2, conn)\nsnowdf\n'

In [5]:
'''snowdf = snowdf.drop(['State', 'State RegionId', 'Indicator', 'Indicator Description', 'Units', 'Scale', 'Frequency'], axis=1)
#emissionsdf = emissionsdf.rename(columns={"SCHEDULED_DEPARTURE_DATE": "DEPARTURE_DATE","ESTIMATED_FUEL_BURN_TONNES": "EST._FUEL_BURN_TONNES", "ESTIMATED_CO2_EMISSIONS_TONNES": "EST._CO2_EMISSIONS_TONNES"})
snowdf'''

'snowdf = snowdf.drop([\'State\', \'State RegionId\', \'Indicator\', \'Indicator Description\', \'Units\', \'Scale\', \'Frequency\'], axis=1)\n#emissionsdf = emissionsdf.rename(columns={"SCHEDULED_DEPARTURE_DATE": "DEPARTURE_DATE","ESTIMATED_FUEL_BURN_TONNES": "EST._FUEL_BURN_TONNES", "ESTIMATED_CO2_EMISSIONS_TONNES": "EST._CO2_EMISSIONS_TONNES"})\nsnowdf'

In [6]:
# snowdf.to_csv('snowdf.csv')

In [12]:
snowdf = pd.read_csv('snowdf.csv')
snowdf

,Unnamed: 0,State Name,Indicator Name,Date,Value
0,0,Andhra Pradesh,Confirmed Cases of COVID-19 (Indian National),2020-03-23,7.0
1,1,Andhra Pradesh,Confirmed Cases of COVID-19 (Indian National),2020-03-24,8.0
2,2,Andhra Pradesh,Confirmed Cases of COVID-19 (Indian National),2020-03-25,9.0
3,3,Andhra Pradesh,Confirmed Cases of COVID-19 (Indian National),2020-03-26,11.0
4,4,Andhra Pradesh,Confirmed Cases of COVID-19 (Indian National),2020-03-27,12.0
...,...,...,...,...,...
9995,9995,Haryana,Death due to COVID-19,2022-06-04,10621.0
9996,9996,Haryana,Death due to COVID-19,2022-06-05,10621.0
9997,9997,Haryana,Death due to COVID-19,2022-06-06,10621.0
9998,9998,Haryana,Death due to COVID-19,2022-06-07,10621.0
9999,9999,Haryana,Death due to COVID-19,2022-06-08,10621.0

In [19]:
vac = pd.read_csv('owid-vax.csv')
vac.columns.values

array(['iso_code', 'continent', 'location', 'date', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate',
       'icu_patients', 'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units',
       'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities',
       'hospital_beds_per_thousand', 'life_expectancy',
       'human_development_index', 'population',
       'excess_mortality_cumulative_absolute',
       'excess_mortality_cumulative', 'excess_mortality',
       'excess_mortality_cumulative_per_million'], dtype=object)

In [20]:
vac = vac.drop(vac[vac['location'] != 'India'].index)
vac = vaxdf[['location', 'date', 'total_cases', 'new_cases', 'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'total_boosters', 'new_vaccinations']]
vac

,location,date,total_cases,new_cases,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations
100982,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,NaN
100983,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,NaN
100984,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,NaN
100985,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,NaN
100986,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
102050,India,2023-01-02,44680180.0,134.0,2.201055e+09,1.027206e+09,951217236.0,222631910.0,10202.0
102051,India,2023-01-03,44680355.0,175.0,2.201104e+09,1.027209e+09,951225480.0,222668958.0,48946.0
102052,India,2023-01-04,44680543.0,188.0,2.201153e+09,1.027213e+09,951234968.0,222704735.0,48933.0
102053,India,2023-01-05,44680771.0,228.0,2.201212e+09,1.027217e+09,951244627.0,222750753.0,59578.0
102054,India,2023-01-06,44680985.0,214.0,2.201260e+09,1.027221e+09,951254241.0,222784877.0,47620.0

In [ ]:
vaxdf = vac
vaxdf['Daily_vaccinations'] = vaxdf[]